.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/TP01.1474469963894.pdom
.metadata/.plugins/org.eclipse.cdt.core/TP02.1475509767474.pdom
.metadata/.plugins/org.eclipse.cdt.core/TP03.1476108939218.pdom
.metadata/.plugins/org.eclipse.cdt.core/Test.1474469898859.pdom
.metadata/.plugins/org.eclipse.cdt.core/language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP01/1235928992
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP01/TP01
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP02/83967470
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP02/TP02
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP03/620275531
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TP03/TP03
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/12/a0e21fbb8a8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/14/50248202b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/16/e0832081b089001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/17/d0255b61b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/17/e073531af48e00161af088343745e18d
.metadata/.plugins/org.eclipse.core.resources/.history/1a/5053f82fb889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/1d/3066c54b918900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/1f/a05bc9e3bc89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/24/30d983a1b489001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/25/d068c12f8c8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/27/30e273838e8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/28/902e8472b589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/29/2009a468b789001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/2d/f06d1f70918900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/2f/20af3f3f868900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/31/e003ee5ab689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/32/b067d201898900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/33/10c3e5fcb989001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/33/40518773b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/36/b051cad6b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/3c/10654ca9b989001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/40/909234c2b589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/42/6015be528a8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/43/706feeb0b989001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/43/a056a456928900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/44/500de59df38e00161af088343745e18d
.metadata/.plugins/org.eclipse.core.resources/.history/44/a02fd4bab689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/45/e07c73e7858900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/46/30aa91c3b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/46/e04f0e10b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/4a/3012e793bc89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/4e/008cd77eb589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/5/8085fd78b789001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/50/401b0d80b489001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/55/90af882a878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/59/a0bd86cab689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/5e/100aa2fab889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/5f/10fff624bd89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/60/40c655d9b289001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/61/10c3b261b589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/61/805aabc0b589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/61/c0a6de818f8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/64/20471098888900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/66/a0bde0ab8f8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/6e/a04e7d3a928900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/7/e0d7a138928900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/72/4073e848b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/72/b0b5cd06818900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/74/007ecfd4b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/75/30ae817e918900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/75/b04f665b8b8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/78/30ab270c898900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/78/d006eabe868900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/7a/c09ce1778c8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/7b/40f58553b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/7c/60786ac7888900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/7e/a0eba2efb089001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/8/40f127e8b089001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/8/d084df67b089001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/81/2017376ab589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/83/30dab3e8878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/83/707f2658b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/86/404278aab689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/89/9084d801bd89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/8c/c0ff5d4bbb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/9/c08a5b77b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/94/d09fb95b8b8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/97/102dc90eb589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/98/6075ffd4bb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/9a/f08c50d0b389001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/a0/40b8af27828900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/a0/a0611a91908900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/a1/802cea38878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/a3/a0318e1eb589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/a7/30be30c0b389001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/aa/60ff0ec58c8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/aa/9007330eb589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/ae/302eb425b589001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/ae/c0601cc0908900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/b0/40da3abeb689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/b3/e0648ed48b8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/b4/e04258a1948900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/b6/40badecbbb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/b7/e0658fecb789001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/b8/d0dc5f20938900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/ba/a0c060fb808900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/bb/00bc3cd78b8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/bb/10baeaa6878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/bb/e09db067b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/bc/40646375b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/bd/40cc2da9878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/c4/407a60638d8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/c5/80520883b789001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/c6/703c1cbebb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/c9/a05a6fdbb689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/cb/3034b845b389001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/cc/e077bbedb989001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/cf/0088fbf1b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/d1/607a1485b089001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/d5/90877b08938900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/d9/90651770bb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/dc/9065ae2cf48e00161af088343745e18d
.metadata/.plugins/org.eclipse.core.resources/.history/dd/a0dbf0eab889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/dd/b0566faab889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/de/506ccf85b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/df/2072aed0b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/e/202b99d2b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/e3/50f133a9888900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/e3/e08de9a6f38e00161af088343745e18d
.metadata/.plugins/org.eclipse.core.resources/.history/e5/a0223ca1848900161526b83955567091
.metadata/.plugins/org.eclipse.core.resources/.history/e9/2081a20e878900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/e9/a053eee4bc89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/e9/f0659c1fb889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/f0/30458f99b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/f0/a081b4a0bc89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/f4/30ade0e1b689001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/f8/50e48426b889001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/fc/00cd96548a8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.history/fc/8059fee5bb89001613faaca540171f81
.metadata/.plugins/org.eclipse.core.resources/.history/fc/b0cd0bc08a8900161c2bfc22daa4b219
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TP01/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP01/.indexes/e4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP01/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP01/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/TP01/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/.indexes/e4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/2.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/3.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TP02/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/.indexes/e4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/2.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TP03/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/12.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-TP01.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-TP02.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-TP03.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/TP01.exe (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TP01.exe.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TP02.exe.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TP03.exe.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Test.exe.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_3
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/10/40/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/10/40/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/10/41/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/9/38/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/9/38/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/9/39/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/9/39/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-od8iraa_32623/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-od8iraa_32623/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-od8iraa_32623/node.properties
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
RemoteSystemsTempFiles/.project
TP01/.cproject
TP01/.project
TP01/.settings/ch.hsr.ifs.cute.elevenator.prefs
TP01/.settings/language.settings.xml
TP01/.settings/org.eclipse.cdt.managedbuilder.core.prefs
TP01/Debug/src/Parque.o
TP01/Debug/src/Test.o
TP01/cute/cute.h
TP01/cute/cute_base.h
TP01/cute/cute_counting_listener.h
TP01/cute/cute_data_driven.h
TP01/cute/cute_demangle.h
TP01/cute/cute_determine_library.h
TP01/cute/cute_determine_traits.h
TP01/cute/cute_determine_version.h
TP01/cute/cute_diff_values.h
TP01/cute/cute_equals.h
TP01/cute/cute_listener.h
TP01/cute/cute_range.h
TP01/cute/cute_relops.h
TP01/cute/cute_repeated_test.h
TP01/cute/cute_runner.h
TP01/cute/cute_suite.h
TP01/cute/cute_suite_test.h
TP01/cute/cute_test.h
TP01/cute/cute_test_incarnate.h
TP01/cute/cute_testmember.h
TP01/cute/cute_throws.h
TP01/cute/cute_to_string.h
TP01/cute/cute_version.h
TP01/cute/cute_xml_file.h
TP01/cute/gpl.txt
TP01/cute/ide_listener.h
TP01/cute/lgpl.txt
TP01/cute/ostream_listener.h
TP01/cute/xml_listener.h
TP02/.cproject
TP02/.gitignore
TP02/.project
TP02/.settings/ch.hsr.ifs.cute.elevenator.prefs
TP02/.settings/language.settings.xml
TP02/.settings/org.eclipse.cdt.managedbuilder.core.prefs
TP02/cute/cute.h
TP02/cute/cute_base.h
TP02/cute/cute_counting_listener.h
TP02/cute/cute_data_driven.h
TP02/cute/cute_demangle.h
TP02/cute/cute_determine_library.h
TP02/cute/cute_determine_traits.h
TP02/cute/cute_determine_version.h
TP02/cute/cute_diff_values.h
TP02/cute/cute_equals.h
TP02/cute/cute_listener.h
TP02/cute/cute_range.h
TP02/cute/cute_relops.h
TP02/cute/cute_repeated_test.h
TP02/cute/cute_runner.h
TP02/cute/cute_suite.h
TP02/cute/cute_suite_test.h
TP02/cute/cute_test.h
TP02/cute/cute_test_incarnate.h
TP02/cute/cute_testmember.h
TP02/cute/cute_throws.h
TP02/cute/cute_to_string.h
TP02/cute/cute_version.h
TP02/cute/cute_xml_file.h
TP02/cute/gpl.txt
TP02/cute/ide_listener.h
TP02/cute/lgpl.txt
TP02/cute/ostream_listener.h
TP02/cute/xml_listener.h
TP03/.cproject
TP03/.gitignore
TP03/.project
TP03/.settings/ch.hsr.ifs.cute.elevenator.prefs
TP03/.settings/language.settings.xml
TP03/.settings/org.eclipse.cdt.managedbuilder.core.prefs
TP03/cute/cute.h
TP03/cute/cute_base.h
TP03/cute/cute_counting_listener.h
TP03/cute/cute_data_driven.h
TP03/cute/cute_demangle.h
TP03/cute/cute_determine_library.h
TP03/cute/cute_determine_traits.h
TP03/cute/cute_determine_version.h
TP03/cute/cute_diff_values.h
TP03/cute/cute_equals.h
TP03/cute/cute_listener.h
TP03/cute/cute_range.h
TP03/cute/cute_relops.h
TP03/cute/cute_repeated_test.h
TP03/cute/cute_runner.h
TP03/cute/cute_suite.h
TP03/cute/cute_suite_test.h
TP03/cute/cute_test.h
TP03/cute/cute_test_incarnate.h
TP03/cute/cute_testmember.h
TP03/cute/cute_throws.h
TP03/cute/cute_to_string.h
TP03/cute/cute_version.h
TP03/cute/cute_xml_file.h
TP03/cute/gpl.txt
TP03/cute/ide_listener.h
TP03/cute/lgpl.txt
TP03/cute/ostream_listener.h
TP03/cute/xml_listener.h
.metadata/
TP05/.cproject
TP05/.gitignore
TP05/.project
TP05/.settings/ch.hsr.ifs.cute.elevenator.prefs
TP05/.settings/language.settings.xml
TP05/.settings/org.eclipse.cdt.managedbuilder.core.prefs
TP05/cute/cute.h
TP05/cute/cute_base.h
TP05/cute/cute_counting_listener.h
TP05/cute/cute_data_driven.h
TP05/cute/cute_demangle.h
TP05/cute/cute_determine_library.h
TP05/cute/cute_determine_traits.h
TP05/cute/cute_determine_version.h
TP05/cute/cute_diff_values.h
TP05/cute/cute_equals.h
TP05/cute/cute_listener.h
TP05/cute/cute_range.h
TP05/cute/cute_relops.h
TP05/cute/cute_repeated_test.h
TP05/cute/cute_runner.h
TP05/cute/cute_suite.h
TP05/cute/cute_suite_test.h
TP05/cute/cute_test.h
TP05/cute/cute_test_incarnate.h
TP05/cute/cute_testmember.h
TP05/cute/cute_throws.h
TP05/cute/cute_to_string.h
TP05/cute/cute_version.h
TP05/cute/cute_xml_file.h
TP05/cute/gpl.txt
TP05/cute/ide_listener.h
TP05/cute/lgpl.txt
TP05/cute/ostream_listener.h
TP05/cute/xml_listener.h
TP06/.gitignore
TP06/.project
TP06/.settings/ch.hsr.ifs.cute.elevenator.prefs
TP06/.settings/language.settings.xml
TP06/.settings/org.eclipse.cdt.managedbuilder.core.prefs
TP06/cute/cute.h
TP06/cute/cute_base.h
TP06/cute/cute_counting_listener.h
TP06/cute/cute_data_driven.h
TP06/cute/cute_demangle.h
TP06/cute/cute_determine_library.h
TP06/cute/cute_determine_traits.h
TP06/cute/cute_determine_version.h
TP06/cute/cute_diff_values.h
TP06/cute/cute_equals.h
TP06/cute/cute_listener.h
TP06/cute/cute_range.h
TP06/cute/cute_relops.h
TP06/cute/cute_repeated_test.h
TP06/cute/cute_runner.h
TP06/cute/cute_suite.h
src.rar
TP06/.cproject
TP06/cute/cute_suite_test.h
TP06/cute/cute_test.h
TP06/cute/cute_test_incarnate.h
TP06/cute/cute_testmember.h
TP06/cute/cute_throws.h
TP06/cute/cute_to_string.h
TP06/cute/cute_version.h
TP06/cute/cute_xml_file.h
TP06/cute/gpl.txt
TP06/cute/ide_listener.h
TP06/cute/lgpl.txt
TP06/cute/ostream_listener.h
TP06/cute/xml_listener.h
